.scoreContainer {
    color: #fff;
    font-family: 'Short Stack', cursive;
    font-size: 28px;
}

.scoreContainerSmall {
    color: #fff;
    font-family: 'Short Stack', cursive;
    font-size: 14px;
}