.scoreContainer {
    color: #fff;
    font-family: 'Short Stack', cursive;
    font-size: 28px;
    text-align: left;
}

.scoreContainerSmall {
    color: #fff;
    font-family: 'Short Stack', cursive;
    font-size: 14px;
    text-align: left;
}
/* border-color: #ed1c5b;
}

.button_restart {
    border-color: #f8b500; */
.snackbar {
    visibility: hidden;
    /* min-width: 250px; */
    /* margin-left: -125px; */
    font-size: 14px;
    background-color: #ed1c5b;
    color: #f8b500;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    /* left: 50%; */
    right: 2%;
    bottom: 30px;
    opacity: 0.8;
  }
  
  .show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }