.nextPieces {
    width: 100%;
    -webkit-box-shadow: inset 0 0 1px 2px #cfd8dc;
  box-shadow: inset 0 0 1px 2px #cfd8dc;
  margin-top:10px;
  margin-bottom: 20px;
}

.pieceRow {
    display: flex;
    flex-direction: row;
    transform: scaleX(0.7) scaleY(0.7);
}

.pieceColumn {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
