main {
    width: 600px;
    margin: auto;
}

main:last-child {
    border-bottom: solid black 1px;
}

.row {
    display: flex;
    border-left: solid black 1px;
 }

 .row_cell {
    flex: 1;
    height: calc(100vh / 20);
    border-top: solid black 1px;
    border-right: solid black 1px;
 }

.locked {
    background-color: grey;
}

.filled {
    box-shadow: 5px 5px 2px grey, 1px 1px 1px white !important;
}

.shape-z { 
    background-color: #FF0200;
}
.shape-s { 
    background-color: #00FF00;
}
.shape-j { 
    background-color: #0A00FF;
}
.shape-l { 
    background-color: #FEA500;
}
.shape-t { 
    background-color: #AA00FF;
}
.shape-i { 
    background-color: #00FFFF;;
}
.shape-o { 
    background-color: #ffff00;
}