.sectionLeft {
   background: #96e899;
    width: 25%;
    max-width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .outerBoard {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: red;
    flex-grow: 2;
  }

  .sectionRight {
    padding-top: 30px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}